<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
      *{
          margin: 0;
          padding: 0;
          list-style: none;
          text-decoration: none;
      }

      @font-face {
          font-family: 'iconfont';  /* Project id 3741053 */
          src: url('//at.alicdn.com/t/c/font_3741053_lf4z8drci5c.woff2?t=1667235492068') format('woff2'),
          url('//at.alicdn.com/t/c/font_3741053_lf4z8drci5c.woff?t=1667235492068') format('woff'),
          url('//at.alicdn.com/t/c/font_3741053_lf4z8drci5c.ttf?t=1667235492068') format('truetype');
      }
      .iconfont{
          font-family:"iconfont" !important;
          font-size:16px;font-style:normal;
          -webkit-font-smoothing: antialiased;
          -webkit-text-stroke-width: 0.2px;
          -moz-osx-font-smoothing: grayscale;}

      body {
          position: relative;
          /* background-color: rgb(249, 250, 255); */
          /* background-color: white; */
          background-image: url(/assets/pic.jpg);
          background-repeat: no-repeat;
          background-size: 650px;
          background-position: bottom 0 right 0 ;
          color: rgb(64, 77, 85);
      }
      .box {
          /* background-color: white; */
          height: calc(100vh - 100px);
          /* width: 700px; */
          padding-left:80px ;
          margin-top: 20px;
      }
      input {
          height: 35px;
          width: 350px;
          border: rgb(215, 216, 217) 1.5px solid;
          margin:8px 0px 30px 0px;
          /* outline-color: rgb(169, 176, 181);  */
          background-color: transparent;
          color: rgb(64, 77, 85); ;
      }
      ::placeholder{
          color: rgb(212, 213, 215);

      }
      .bigtitle {
          font-size: 55px;
          font-weight: 800;
          border-bottom:2px dashed rgb(215, 216, 217);
          margin-top: 25px;
      }

      #button {
          color: white;
          font-size: 18px;
          background-color: rgb(69, 67, 226);
          width: 120px;
          height: 45px;
          border: rgb(69, 67, 226) 1px solid;
          float:right;
          display: inline

      }
      .aimg img{
          position: absolute;
          /* height: 650px; */
          width: 550px;
          bottom:-120px;
          right: 0px;
      }
      .member{
          height: 40px;
          /* background-color: aqua; */
      }
      .member a{
          color:rgb(69, 67, 226) ;
      }
      .member a:hover{
          color: rgb(60, 61, 61);
      }
  </style>
</head>
<body>

<div class="box" style="width:800px ;">

  <div class="bigtitle">
    <span  style="margin-bottom: -4px">Modify <br></span>
    <span >Information</span>
  </div>

<!--  <form action="">-->
  <%=form_for @user, url: user_path, method: :put do |f| %>
    <div style="height: 430px;  border-bottom:2px dashed rgb(215, 216, 217);">
      <div style="float: left; display: inline; margin-top: 20px;">
        <div>
          <span class="input-box">First name <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="change your first name" style="float:right;"><img src="/assets/wenhao.png" alt="" height="18px" style="float:right;"></button></span><br>
          <%= text_field :user, :first_name, id:"first_name" %>
        </div>

        <div>
          <span class="input-box">Sex<button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="change your sex here" style="float:right;"><img src="/assets/wenhao.png" alt="" height="18px" style="float:right;"></button></span><br>
          <%= text_field :user, :sex, id:"sex"%>
        </div>

        <div>
          <span class="input-box">Age <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="change your age here" style="float:right;"><img src="/assets/wenhao.png" alt="" height="18px" style="float:right;"></button></span><br>
          <%= text_field :user, :age, id:"age"%>
        </div>

        <div>
          <span class="input-box">Weight <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="change your current weight here" style="float:right;"><img src="/assets/wenhao.png" alt="" height="18px" style="float:right;"></button></span><br>
          <%= text_field :user, :weight, id:"weight"%>
        </div>
      </div>

      <div style=" float: right; display: inline; margin-top: 20px;">
        <div>
          <span class="input-box">Last name <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="change your last name here" style="float:right;"><img src="/assets/wenhao.png" alt="" height="18px" style="float:right;"></button></span><br>
<!--          <input type="text" placeholder="xie">-->
          <%= text_field :user, :last_name, id:"last_name"%>
        </div>

        <div>
          <span class="input-box">Email <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="change your email here" style="float:right;"><img src="/assets/wenhao.png" alt="" height="18px" style="float:right;"></button></span><br>
<!--          <input type="text" placeholder="wx2283@columbia.edu">-->
          <%= text_field :user, :email, id:"email" %>
        </div>

        <div>
          <span class="input-box">Height <button type="button" class="btn" data-bs-toggle="tooltip" data-bs-placement="top" title="change your height here" style="float:right;"><img src="/assets/wenhao.png" alt="" height="18px" style="float:right;"></button></span><br>
<!--          <input type="text" placeholder="xxx">-->
          <%= text_field :user, :height, id:"height" %>
        </div>
      </div>
    </div>

  <div style="height:20px; margin-top: 100px;" >
<!--    <button>Confirm</button>-->
    <%= f.submit "Update", id: "button" %>
  </div>
  <% end -%>
</div>
<script>
    [...document.querySelectorAll('[data-bs-toggle="tooltip"]')]
        .forEach(el => new bootstrap.Tooltip(el))
</script>
</body>